body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background: #167cc0;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  height: 86px;
  margin-bottom: 0px;
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: 3px 5px black;
  position: fixed;
  top: 0px;
  /* UNCOMMENT above line after finishing designing all pages. */
  z-index: 1;
}
.navbar > a {
  margin: 0;

}


.partCard {
  border: 3px solid grey;
  width: 30vw;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
  background-color: #85A4CC;
  /* border-radius: 1%; */
  box-shadow: 10px 7px  black;


}


.partsPage {

 padding-bottom: 20px;

}

.partsPage > h1 {

  margin-top: 0;
}

.navBarBox > li  {
margin: 5px;
padding: 20px;
}

.navBarCenter button {

margin: 20px;

}

.quoteBox {
  margin: auto;
  border: 3px solid grey;
  margin-top: 10px;
  width: 30vw;
  background-color: #85CC8A;
  box-shadow: 10px 7px  black;

}

body {
  padding-top: 150px;
  background-color: #CC8A85;
}

/* #shadow {
  border: 1px solid blue;
  position: relative;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  perspective: 50px;
  perspective-origin: 50% 100%;
  display: inline-block;
}
#shadow::after {
  content: 'p Shadow q';
  outline: 1px solid red;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform: scaleY(0.5) rotateX(-15deg);
  transform-origin: 50% 100%;
  opacity: .3;
} */

.addPartBox {
  margin-bottom: 20px;
}

.addPartTableHead th {
  border: 3px solid grey;
  background-color: rgb(204, 173, 133);
}


.addPartTable {
  border-collapse: collapse;
  box-shadow: 10px 7px black;
  width: 50vw;
  margin: auto;
  
}

.addPartTable tr {
  
background-color: white;

 
}

.addPartTable td {
  border: 3px solid grey;
}

input {
  border: none;
  outline-width: 0;
}



.addPartBtn {
  margin-top: 21px;
  background-color: green;
  color: white;
  border: 3px solid white;
  /* border-radius: 5px; */
  box-shadow: 5px 5px black;
  font-size: 26px;
}


.addPartBtn:active {
  box-shadow: 0px 0px black;
  position: relative;
  top: 5px;
  left: 5px;

  
}

.refreshPartsTable {
  position: fixed;
  top: 500px;
  left: 200px;
}

.exchangeApi {
  position: fixed;
  top: 12px;
  left: 870px;

}
.exchangeApi input {
width: 320px;

}
.exApiCurrencyColor {
color: rgb(77, 241, 77);

}

.hideGrandTotalInput {

  display: none;
}


.quoteUpdateBtn {

  background-color: green;

}

.quoteForm {
  border: 3px solid grey;
width: 85vw;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
  background-color: #85A4CC;
  /* border-radius: 1%; */
  box-shadow: 10px 7px  black;
  padding: 50px 0;

}


.quoteNotes {
  width: 40vw;

}


.addPartTableHeadQuoteForm th {
  border: 3px solid grey;
  background-color: rgb(204, 173, 133);
}


.addPartTableQuoteForm {
  border-collapse: collapse;
  box-shadow: 10px 7px black;
  width: 25vw;
  margin: auto;
  


  
}


.addPartTableQuoteForm tr {
  
  background-color: white;
  
   
  }
  
  .addPartTableQuoteForm td {
    border: 3px solid grey;
  }




/* 
    .quoteNumberBox {
      position: relative;
      left: 515px;
      bottom: 120px;
    }


    .customerBoxInfo {
      position: relative;
      right: 515px;
      top: 54px;


    } */



    .quoteFormPartsList {
      position: relative;
      top: 20px;
      margin-bottom: 20px;
      margin-top: 20px;

    }


    .signatureLine {
      position: relative;
      left: 515px;
    }

    .quoteRecordNumTag {

      position: relative;
      left: 238px;
      bottom: 105px;
      margin-bottom: 30px
    }

    .quoteRecord {
      border: 3px solid grey;
      width: 65vw;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 5px;
        background-color: #85A4CC;
        /* border-radius: 1%; */
        box-shadow: 10px 7px  black;
        padding: 50px 0;

    }






    .quoteRecordTable th {
      border: 3px solid grey;
      background-color: rgb(204, 173, 133);
    }
    
    
    .quoteRecordTable {
      border-collapse: collapse;
      box-shadow: 10px 7px black;
      width: 25vw;
      margin: auto;
      
    
  
    }
    
    
    .quoteRecordTable tr {
      
      background-color: white;
      
       
      }
      
      .quoteRecordTable td {
        border: 3px solid grey;
      }





 


  
  

    .quoteRecordTotalBox {

      position: relative;
      left: 405px;
    

    }
/* -------------------------------------------------------- */
    .recTotal th {
      border: 3px solid grey;
      background-color: rgb(204, 173, 133);
    }

    .recTotal {
      border-collapse: collapse;
      box-shadow: 10px 7px black;
      width: 8vw;
      margin: auto;
       
    }



    .recTotal tr {
      
      background-color: white;
      
       
      }
    



      .recTotal td {
      
        border: 3px solid grey;
        
         
        }



 .customerRecordInfo {
   position: relative;
   right: 305px;
   top: 55px;
 }


.customerInfoRecordTable {
  border-collapse: collapse;
  box-shadow: 10px 7px black;
  width: 18vw;
  margin: auto;
  

}


.customerInfoRecordTable  th {
  border: 3px solid grey;
  background-color: rgb(204, 173, 133);
  

}

.customerInfoRecordTable  tr {
 background-color: white;

  

}


.customerInfoRecordTable  td {
  border: 3px solid grey;
 
   
 
 }



 .quoteRecordNotes {


  position: relative;
  right: 305px;
  top: 80px;


 }


 .quoteRecordNotesTable {
  border-collapse: collapse;
  box-shadow: 10px 7px black;
  width: 18vw;
  margin: auto;

 }

 .quoteRecordNotesTable th {
  border: 3px solid grey;
  background-color: rgb(204, 173, 133);
  

 }
 .quoteRecordNotesTable tr  {
  background-color: white;

 }

 .quoteRecordNotesTable  td {
  border: 3px solid grey;

 }

/* ------------------------------- */



.quoteFormTotalBox {
 color: black;
 margin-left: -178px;
 
}




.quoteTopData {
 
  display: flex;
  justify-content: space-around;
}


.flexQuotePartList {
  display: flex;
  justify-content: center;
}



.flexTotalAndNoteBox {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-top: 35px;
}

.quoteFormQty {
  width: 3vw;
}


.quoteFormMargin {
  width: 3vw;
}

.quoteFormCost {
  width: 3vw !important;
}

.quoteFormNo {
  width: 2vw;
}


.flexQuoteFromNoteBox table {
  width: 16vw;
}

      /* GENERIC STYLING NO POSITIONING */






  .TableHeadQuoteForm th {
    border: 3px solid grey;
    background-color: rgb(204, 173, 133);
  }
  
  
  .TableQuoteForm {
    border-collapse: collapse;
    box-shadow: 10px 7px black;
    width: 25vw;
    margin: auto;
    
  
  
  }
  
  
  .TableQuoteForm tr {
    
    background-color: white;
    
     
    }
    
    .TableQuoteForm td {
      border: 3px solid grey;
    }